# The wedding reviews and details 2020

In [63]:
import pandas as pd

In [64]:
df = pd.read_csv(r"C:\Users\ANESTHESIA\Downloads\wedding_reddit.csv")

In [65]:
df.head()

,Unnamed: 0,index,title,score,id,url,comms_num,created,body,year,month,day,time,phase
0,0,0,We got married today!!!‚ù§‚ù§‚ù§,2381,gdlp8c,https://i.redd.it/1t1l9b4qrtw41.jpg,156,1.588660e+09,NaN,2020,5,5,06:32:36,during_lockdown
1,1,1,Just got married today!,4847,g7ujrr,https://www.reddit.com/r/teenagers/comments/g7...,197,1.587854e+09,**I am 13 years old. I'm being held hostage on...,2020,4,25,22:39:43,during_lockdown
2,2,2,Urm we literally got married today...,5765,gdwp7x,https://i.redd.it/gqda6cl5vxw41.png,79,1.588710e+09,NaN,2020,5,5,20:19:02,during_lockdown
3,3,3,Got married today coronavirus style!,1539,ggrz4v,https://i.redd.it/nqpb7lw89ux41.jpg,64,1.589102e+09,NaN,2020,5,10,09:14:59,during_lockdown
4,4,4,Got Married today!,4266,g59rcx,https://i.redd.it/s3x73oex24u41.jpg,124,1.587478e+09,NaN,2020,4,21,14:00:50,during_lockdown

In [66]:
df.isnull().sum()

Unnamed: 0     0
index          0
title          0
score          0
id             0
url            0
comms_num      0
created        0
body          75
year           0
month          0
day            0
time           0
phase          0
dtype: int64

In [67]:
df.columns

Index(['Unnamed: 0', 'index', 'title', 'score', 'id', 'url', 'comms_num',
       'created', 'body', 'year', 'month', 'day', 'time', 'phase'],
      dtype='object')

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

tfidf_vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf_vectorizer.fit_transform(df['title'])

In [69]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [70]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = df[df['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6] 
    post_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[post_indices]

In [71]:
recommended_posts = get_recommendations('Just got married today!')
print(recommended_posts)

58    Got married today. My son was just as excited ...
0                            We got married today!!!‚ù§‚ù§‚ù§
4                                    Got Married today!
12                              We Got Married Today! ü•∞
20                  I got married today! 5‚Äô4‚Äù and 5‚Äô1‚Äù.
Name: title, dtype: object

In [72]:
recommended_posts = get_recommendations('I got married today @ The Frick ü•∞')
print(recommended_posts)

0              We got married today!!!‚ù§‚ù§‚ù§
4                      Got Married today!
12                We Got Married Today! ü•∞
20    I got married today! 5‚Äô4‚Äù and 5‚Äô1‚Äù.
27                   Got married today...
Name: title, dtype: object

In [73]:
recommended_posts = get_recommendations('I got married today! Write me a trigger event')
print(recommended_posts)

0              We got married today!!!‚ù§‚ù§‚ù§
4                      Got Married today!
12                We Got Married Today! ü•∞
20    I got married today! 5‚Äô4‚Äù and 5‚Äô1‚Äù.
27                   Got married today...
Name: title, dtype: object

In [74]:
recommended_posts = get_recommendations('Got married today!')
print(recommended_posts)

4                      Got Married today!
12                We Got Married Today! ü•∞
20    I got married today! 5‚Äô4‚Äù and 5‚Äô1‚Äù.
27                   Got married today...
29                     Got married today!
Name: title, dtype: object

In [75]:
recommended_posts = get_recommendations('RAY AND TINA GOT MARRIED TODAY!')
print(recommended_posts)

28        RAY AND TINA GOT MARRIED TODAY!
0              We got married today!!!‚ù§‚ù§‚ù§
4                      Got Married today!
12                We Got Married Today! ü•∞
20    I got married today! 5‚Äô4‚Äù and 5‚Äô1‚Äù.
Name: title, dtype: object

In [76]:
recommended_posts = get_recommendations('Buddy got married today. Watched through zoom.')
print(recommended_posts)

38    One of my best buds streamed got married today...
31    Got married today, best buddy boy and bridesgi...
0                            We got married today!!!‚ù§‚ù§‚ù§
4                                    Got Married today!
12                              We Got Married Today! ü•∞
Name: title, dtype: object